/* :host {
    text-align: center;
  } */

  nz-header,
  nz-footer {
    background: #7dbcea;
    color: #fff;
  }

  nz-footer {
    line-height: 1.5;
  }

  nz-sider {
    background: #3ba0e9;
    color: #fff;
    line-height: 120px;
  }

  nz-content {
    background: rgba(16, 142, 233, 1);
    color: #fff;
    min-height: 120px;
    line-height: 120px;
  }

  nz-layout {
    margin-bottom: 48px;
  }

  nz-layout:last-child {
    margin: 0;
  }

  .myLogo {
    position: relative;
    top: 1px;
    display: inline-block;
    vertical-align: bottom;
    left: 30px;
    float: left;
  }

  .bottomLine {
    min-height: 15px;
    background-image: url('../assets/img/bottomline.png');
    background-repeat: repeat-x;
  }

  @media only screen and (max-width:709px){
    #menu > .ant-menu-item {
      /* display: none; */
      padding: 0 5px;
    }
  }

  .myFooterMenu{
    display: none
  }

  .myFooter{
    height:50px;background-color:#fff;text-align:center;padding:30px;
  }
  
  @media only screen and (max-width:540px){
    #menu > .ant-menu-item {
      display: none;
      /* padding: 0 5px; */
    }
    
    .myFooter{
      margin-bottom:50px
    }

    .myFooterMenu {
      display: block!important;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(255, 255, 255);
      color: white;
      text-align: center;
      border-top:0.5px solid rgb(219, 219, 219);
   }

   #footerMenu > li {
    cursor: pointer;
    padding: 10px 0px;
    display: inline-block;width:25%;
    color: rgb(59, 177, 255);
    font-size:10px;
    text-align: center;
   }

   #footerMenu > li:hover {
     border-bottom: 2px solid rgb(59, 177, 255);
   }

   #footerMenu > li  > a > i {
     display: block;
   }

   .selectedMenuMobile{
    border-bottom: 2px solid rgb(59, 177, 255);
   }

   .unselectedMenuMobile{
    border-bottom: none;
   }
  };