<!-- NG-ZORRO -->
<ul nz-menu nzMode="horizontal" style="text-align: right;position: fixed;width: 100%;z-index: 100;">
    <li class="myLogo">Donation Web GSM</li>
    
    <li nz-menu-item nzSelected >
        <a routerLink="/home">
          <i nz-icon nzType="appstore" nzTheme="outline"></i>
          Home
        </a>
    </li>
    <li nz-menu-item >
      <i nz-icon nzType="solution" nzTheme="outline"></i>
      Donasi Saya
    </li>
    <li nz-menu-item >
      <i nz-icon nzType="inbox" nzTheme="outline"></i>
      Inbox
    </li>
    <li nz-menu-item >
      <a routerLink="/account">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        Account
      </a>
    </li>
</ul>
<router-outlet></router-outlet>
<div nz-row>
  <div nz-col nzSpan="24" style="min-height:50px;background-color:#ffffff;text-align:center;padding:30px">Copyright : GSM 2019</div>
  <!-- <div nz-col nzSpan="24" class="bottomLine"></div> -->
</div>
