<div nz-row class="blog-slider">
<div nz-col nzMd="14" style="padding:20px">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of image">
            <img [src]="item" style="width:100%;border-radius:5px" alt="">
        </ng-template>  

      </owl-carousel-o>
</div>
<div nz-col nzMd="10" class="aboutGSM">
    <h2 class="myTitle"> Donation Web GSM</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    <button nz-button nzType="primary">More</button>
</div>
</div>