<div nz-row class="rowInbox">
        <h1 style="text-align: center;">Inbox</h1>
        <div nz-col nzMd="24" class="colInbox">
            <div  *ngIf="inboxOpen==true;else inboxClosed">
            <p >
                <span style="margin-right:10px; cursor: pointer;" (click)="backToList()"><i  nz-icon nzType="arrow-left" nzTheme="outline"></i></span>
                <span>{{inboxTitle}} - {{date}}</span>
            </p>

            <div>
                <p [innerHTML]="descriptionHtml"></p>
            </div>
            </div>  
            <ng-template #inboxClosed>
                <div nz-row *ngFor="let list of inbox" class="hoverText" (click)="openInbox(list)" style="cursor: pointer;">
                    <div nz-col nzSpan="12" style="text-align:left;margin-bottom:10px" >
                        <span [style.font-weight]="list.read ? '600' : '500'" >
                            {{list.kabar}}
                        </span>
    
                    </div>
                    <div nz-col nzSpan="12" style="text-align:right;margin-bottom:10px" >
                        <span [style.font-weight]="list.read ? '600' : '500'" >
                            {{list.date}}
                        </span>
                    </div>
                    <div nz-col nzSpan="24" style="text-align: justify;" >
                        <span [style.font-weight]="list.read ? '600' : '500'">
                            {{list.description.substring(0,99)}}
                        </span>
                        <span *ngIf="list.description.length >100"> ... </span>
                        <nz-divider></nz-divider>
                    </div>
                </div>
                <nz-pagination style="text-align:center" [nzPageSize]="5" [nzPageIndex]="1" [nzTotal]="inbox.length"></nz-pagination>
            </ng-template>

        </div>
    </div>