<div nz-row class="accountRow">
    <h1 style="text-align: center;">Account</h1>
    <div nz-col nzMd="24" [ngSwitch]="selectedItem" class="accountCol">

        <div *ngIf="selectedItem !== 'list'">
        <p >
            <span style="margin-right:10px; cursor: pointer;" (click)="changeItem('list')"><i  nz-icon nzType="arrow-left" nzTheme="outline"></i></span>
            <span>{{selectedItem}}</span>
        </p>
        </div>  
        <div *ngSwitchCase="'list'" >

        <div *ngIf="authenticated == true;else notAuthenticated">
        <div (click)="changeItem('Akun Saya')" class="itemAccount">
            <p>
                <i nz-icon nzType="user-add" style="margin-right:10px" nzTheme="outline"></i>
                <span>Akun Saya</span>            
            </p>
        </div>
        <nz-divider></nz-divider>
        </div>
        <ng-template #notAuthenticated>
        <div (click)="changeItem('Daftar')" class="itemAccount">
            <p>
                <i nz-icon nzType="user-add" style="margin-right:10px" nzTheme="outline"></i>
                <span>Daftar</span>            
            </p>
        </div>
        <nz-divider></nz-divider>
        <div (click)="changeItem('Masuk')" class="itemAccount">
            <p> 
                <i nz-icon nzType="user" style="margin-right:10px" nzTheme="outline"></i>
                <span>Masuk</span> 
            </p>
    
        </div>
        <nz-divider></nz-divider>
        </ng-template>

        
        
        <div (click)="changeItem('Bantuan')" class="itemAccount">
            <p> 
                <i nz-icon nzType="read" style="margin-right:10px" nzTheme="outline"></i>
                <span>Bantuan</span> 
            </p>
    
        </div>
        <nz-divider></nz-divider>
        <div (click)="changeItem('Tentang GSM')" class="itemAccount">
            <p> 
                <i nz-icon nzType="file-unknown" style="margin-right:10px" nzTheme="outline"></i>
                <span>Tentang GSM</span> 
            </p>
        </div>
        <nz-divider></nz-divider>
        <div (click)="changeItem('Syarat & Ketentuan')" class="itemAccount">
            <p> 
                <i nz-icon nzType="file-done" style="margin-right:10px"  nzTheme="outline"></i>
                <span>Syarat & Ketentuan</span> 
            </p>
        </div>
        <nz-divider></nz-divider>
    </div>
    <div *ngSwitchCase="'Daftar'" class="divDaftar" >
        <h3 >
            Daftar 
            </h3>
            <p>Lanjutkan ke akun</p>
            <form nz-form [formGroup]="validateForm2" class="login-form" (ngSubmit)="submitForm2()">
            <nz-form-item>
                <nz-form-control nzErrorTip="Masukan no WhatsApp">
                <nz-input-group nzPrefixIcon="phone">
                    <input type="text" nz-input formControlName="noWA" placeholder="No WhatsApp" />
                </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Masukan nama lengkap">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="namaLengkap" placeholder="Nama Lengkap" />
                </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                <button nz-button class="login-form-button" [nzType]="'primary'">Daftar</button>
                <p>Atau daftar dengan </p>
                <div nz-row>
                    <div nz-col nzMd="12" style="padding:10px" >
                        <button nz-button style="background-color:rgb(59, 89, 153)" class="login-form-button" [nzType]="'primary'"><i nz-icon nzType="facebook" nzTheme="outline" style="margin-right:5px"></i>Facebook</button>
                    </div>
                    <div nz-col nzMd="12" style="padding:10px">
                        <button nz-button style="background-color:rgb(247, 247, 247)" class="login-form-button" ><i nz-icon nzType="google" style="margin-right:5px" nzTheme="outline"></i>Google</button>   
                    </div>
                </div>
            </nz-form-control>
            </nz-form-item>
            </form>
    </div>

    <div *ngSwitchCase="'Masuk'" class="divMasuk" >
        <h3 >
        Masuk 
        </h3>
        <p>Lanjutkan ke akun</p>
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="userName" placeholder="Username" />
            </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
            <label nz-checkbox formControlName="remember">
                <span>Remember me</span>
            </label>
            <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
            <button nz-button class="login-form-button" [nzType]="'primary'">Masuk</button>
            <p>Atau masuk dengan </p>
            <div nz-row>
                <div nz-col nzMd="12" style="padding:10px" >
                    <button nz-button style="background-color:rgb(59, 89, 153)" class="login-form-button" [nzType]="'primary'"><i nz-icon nzType="facebook" nzTheme="outline" style="margin-right:5px"></i>Facebook</button>
                </div>
                <div nz-col nzMd="12" style="padding:10px">
                    <button nz-button style="background-color:rgb(247, 247, 247)" class="login-form-button" ><i nz-icon nzType="google" style="margin-right:5px" nzTheme="outline"></i>Google</button>   
                </div>
            </div>
            </nz-form-control>
        </nz-form-item>
        </form>
    </div>

    <div *ngSwitchCase="'Akun Saya'" style="margin-top:20px">
    <div class="itemAccount">
    <p> 
        <i nz-icon nzType="user" style="margin-right:10px" nzTheme="outline"></i>
        <span>Username : {{user.username}}</span> 
    </p>
    </div>
    <nz-divider></nz-divider>

    <div class="itemAccount">
    <p> 
        <i nz-icon nzType="phone" style="margin-right:10px" nzTheme="outline"></i>
        <span>No WA : {{user.noWA =='' ? user.noWA : ''}}</span> 
        <span *ngIf="user.noWA ==''" (click)="addNewData('No WA')" style="cursor:pointer;color:rgb(72, 145, 255)">Kosong, Masukan no WA</span>
    </p>
    </div>

    <nz-divider></nz-divider>

    <div class="itemAccount">
    <p> 
        <i nz-icon nzType="google" style="margin-right:10px" nzTheme="outline"></i>
        <span>Email : {{user.email !=='' ? user.email : ''}} </span> 
        <span *ngIf="user.email ==''" (click)="addNewData('Email')" style="cursor:pointer;color:rgb(72, 145, 255)">Kosong, Masukan Email</span>
    </p>
    </div>
    <nz-divider></nz-divider>

    <div class="itemAccount">
    <p> 
        <i nz-icon nzType="facebook" style="margin-right:10px" nzTheme="outline"></i>
        <span>Facebook : {{user.facebook !=='' ? user.facebook : ''}}</span> 
        <span *ngIf="user.facebook ==''" (click)="addNewData('Facebook')" style="cursor:pointer;color:rgb(72, 145, 255)">Kosong, Masukan Facebook</span>
    </p>
    </div>
    <nz-divider></nz-divider>
    </div>

    <div *ngSwitchCase="'Bantuan'" style="margin-top:30px;text-align:justify">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

    <div *ngSwitchCase="'Tentang GSM'" style="margin-top:30px;text-align:justify">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

    <div *ngSwitchCase="'Syarat & Ketentuan'" style="margin-top:30px;text-align:justify">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    
     </div>
</div>

<nz-modal
    [(nzVisible)]="showModal"
    [nzTitle]="modalTitle"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
>
<input *ngIf="modalTitle == 'No WA'" nz-input placeholder="Masukan WA" [(ngModel)]="user.noWA" />
<input *ngIf="modalTitle == 'Facebook'" nz-input placeholder="Masukan Facebook" [(ngModel)]="user.facebook" />
<input *ngIf="modalTitle == 'Email'" nz-input placeholder="Masukan Email" [(ngModel)]="user.email" />

</nz-modal>