.cardDesignDonation{
    background-color: #ffffff;
    padding: 25px;
    text-align: left;
    line-height: 1.5;
    min-height: 50px;
    border-radius:5px;
    margin-bottom:20px; 
    cursor:pointer;
    transition: box-shadow .3s;
}

.cardDesignDonation:hover {
  box-shadow: 0 0 20px rgba(67, 164, 255, 0.2); 
}

.myTitle {
    font-size: 24px;
    clear: both;
    margin: 0px 0px 15px 0px;
    color:#000000;
    font-weight: 500;
    font-family: Avenir,-apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
  }


  p{
    color:
    #2e2e2e;
    font-size: 14px;
    font-variant: tabular-nums;
    font-feature-settings: 'tnum';
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-variant: tabular-nums;
    margin-bottom:5px;
  }